body{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  background-color: rgba(247, 224, 16, 0.6);
}

a{
  text-decoration: none;
}

.topNav{
  position: relative;
  top: 0px;
  width: 100%;
  background-color: rgb(15, 15, 90);
  color: white;
  overflow: hidden;
}
 
/* Style the links inside the navigation bar */
.topNav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topNav a:hover {
  background-color: rgba(247, 224, 16, 0.945);
  color: black;
}

#contactModal{
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.91);
  z-index: 3;
}

.contactDetails{
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  width: 85%;
  margin: auto;
  margin-top: 15%;
  padding: 15px;
  text-align: center;
}

#FacebookLink:hover{
  color: blue;
}

#PhoneNumber:hover{
  color:blue;
}

#returnBtn{
  border-radius: 5px;
  background-color: rgba(3, 3, 148, 0.616);
  color: white;
  margin: 10px;
}

#returnBtn:hover{
  background-color: rgba(247, 224, 16, 0.745);
  color: black;
}

.basic{
  position: relative;
  text-align: center;
}

#shopTitle{
  font-size: 2em;
}

#mainPhoto{
  margin-top: 0px; 
}
#bannerIntro{
  position: relative;
  padding: 15px;
  background-color: white;
}

ul{
  margin-top: 0px;
}

#amplifyingDetails{
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}


.middleAmpDetails{
  display: none;
} 

#largeAmpDetails{
  display: none;
}

#systemList{
  margin-top: 20px;
}

#upperSpecialtyTitle{
  margin-top: 20px;
  text-align: center;
}

#lowerSpecialtyTitle{
  text-align: center;
}


.details{
  background-color: rgba(247, 224, 16, 0.1);
  display: inline-block;
  width: 100%
}

.detailImage{
  width: 100%;
}

#innerList{
  position: relative;
  top: 0px;
  padding: 0px;
  margin-left: 30%;
}

.lowerText{
  position: relative;
  margin-top: 4px;
  padding: 2px;
  background-color:  rgb(16, 16, 85);
  color: white;
  z-index: 2;
}

#mapSection{
  bottom: 0px;
  height: 200px;
}

#mapSection{
  width: 100%;
  height: 250px;
}


#lowerSpecialtyTitle{
  display: none;
}

#lowerSpecialtyList{
  display: none;
}

#lowPortionText{
  display: none;
}


/* middle sized screens */
@media only screen and ( min-width: 760px ) {
  .contactDetails{
    width: 35%;
  }

  .smallAmpDetails{
    display: none;
  }

  #rightImage{
    display: none;
  }

  .middleAmpDetails{
    display: block;
  } 

  #outerMid{
    width: 100%;
    text-align: center;
  }

  #innerMid{
    width: 80%;
    margin: auto;
    padding: 3%;
  }
  #midSpecialtyTitle{
    display: block;
  }

  #midSpecialtyList{
    display: inline-block;
    width: 48%;
    text-align: left;
  }

  #midSystemList{
    display: inline-block;
    width: 48%;
    vertical-align: top;
    text-align: left;
    font-size: 1.4em;
  }
}

/* large screens */
@media only screen and ( min-width: 1060px ) {
  #bannerIntro{
    font-size: 1.5em;
  }

  .middleAmpDetails{
    display: none;
  } 

  .details{
    display: none;
  }

  .lowerText{
    margin-top: 10px;
  }

  #largeAmpDetails{
    color: inherit; 
    display: inline-block;
    padding: 20px;
    width: 100%;
    text-align: center;
  }

  #innerLargeDisplay{
    background-color: white;
    position: relative;
    display: inline-block;
    border: 5px solid rgb(16, 16, 85);
    border-radius: 10px;
    width: 75%;
    margin: auto;
  }

  #leftSideImages{
    display: inline-block;
    width: 45%;
    border: 1px solid rgb( 16, 16, 85);
  }

  #rightSideText{
    background-color: white;
    display: inline-block;
    float: right;
    width: 55%;
    height: 100%;
  }

  .detailImage{
    width: 100%;
    margin: 0;
  }
  
  .largeDetails{
    margin-top: 5%;
  }

  #systemList{
    list-style: none;
    line-height: 1.5em;
  }

  #upperSpecialtyTitle{
    display: none;
  }

  #upperSpecialtyTitle{
    display: none;
  }

  #lowerSpecialtyTitle{
    text-align: inherit;
  }
  
  #lowerSpecialtyList{
    text-align: left;
    margin-left: 25%;
    line-height: 1.5em;
  }
  #topPortionText{
    margin-top: 10%;
  }

  #middlePortionText{
    margin-top: 10%;
  }

  #lowPortionText{
    margin-top: 10%;
    font-weight: bold;
  }

  #mapSection{
    height: 500px;
  }

}


@media only screen and ( min-width: 1160px ) {

 #lowerSpecialtyTitle{
    display: block;
  }

  #lowerSpecialtyList{
    display: block;
  }

}

@media only screen and ( min-width: 1215px ) {

  #lowPortionText{
    display: block;
  }
