body{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  background-color: rgba(247, 224, 16, 0.6);
}
.navBar{
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgb(39, 39, 182);
  color: white;
}
.basic{
  position: relative;
  text-align: center;
}

#mainPhoto{
  margin-top: -50px; 
}

#bannerIntro{
  padding: 15px;
  background-color: white;
}

ul{
  margin-top: 0px;
}

#amplifyingDetails{
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
  }

#smallMiddleAmpDetails{
    display: none;
  }

#middleAmpDetails{
  display: inline-block;
  margin-top: 10px;
} 



.details{
  background-color: rgba(247, 224, 16, 0.1);
  display: inline-block;
  width: 100%
}

.detailImage{
  width: 100%;
}

.centerDetails{
  position: relative;
  top: 0px;
  text-align: center;
  margin-top: 5px;
}


#innerList{
  position: relative;
  top: 0px;
  padding: 0px;
  margin-left: 30%;
}

.lowerText{
  text-align: center;
  position: relative;
  margin-top: 3px;
  padding: 10px;
  background-color:  rgb(39, 39, 182);
  color: white;
}

#upperBar{
  margin-top: 0;
  height: 20px;
  width: 100%;
}

#mapSection{
  bottom: 0px;
  height: 200px;
}
@media only screen and ( min-width: 760px ) {
  .details{
    width: 33%;
  }

  #upperBar{
    margin-top: 0;
    height: 50px;
    width: 100%;
  }

  #smallMiddleAmpDetails{
    display: inline-block;
    position: absolute;
    top: 15%;  /* WTF*/
  }

  #middleAmpDetails{
    display: none;
  }

  #rightImage{
    position: absolute;
    left: 67%;
  }

  #innerList{
    padding: 5px;
    margin-left: 10%;
  }


  .centerDetails{
    position: relative;
    top: -20px;
    text-align: center;
    margin-top: 5px;
  }





}


@media only screen and ( min-width: 1060px ) {
  #smallMiddleAmpDetails{
    display: none;
  }
  #middleAmpDetails{
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 34%;
  } 

  #innerList{
    position: relative;
    top: -20px;
    padding: 0px;
    margin-left: 25%;
  }


}