body{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  background-color: rgba(247, 224, 16, 0.6);
}

a{
  text-decoration: none;
}

.topNav{
  position: relative;
  top: 0px;
  width: 100%;
  background-color: rgb(15, 15, 90);
  color: white;
  overflow: hidden;
}
 
/* Style the links inside the navigation bar */
.topNav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topNav a:hover {
  background-color: rgba(247, 224, 16, 0.945);
  color: black;
}

#contactModal{
  display: none;
  position: fixed;
  font-size: 2em;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.91);
  z-index: 3;
}

.contactDetails{
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  width: 35%;
  margin: auto;
  margin-top: 15%;
  padding: 15px;
  text-align: center;
}

#FacebookLink:hover{
  color: blue;
}

#PhoneNumber:hover{
  color:blue;
}

#returnBtn{
  border-radius: 5px;
  background-color: rgba(3, 3, 148, 0.616);
  color: white;
  margin: 10px;
}

#returnBtn:hover{
  background-color: rgba(247, 224, 16, 0.745);
  color: black;
}
.basic{
  position: relative;
  text-align: center;
}

#mainPhoto{
  margin-top: 0px; 
}
#bannerIntro{
  position: relative;
  padding: 15px;
  background-color: white;
}

ul{
  margin-top: 0px;
}

#amplifyingDetails{
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
  }

#smallMiddleAmpDetails{
    display: none;
  }

#middleAmpDetails{
  display: inline-block;
  margin-top: 10px;
} 



.details{
  background-color: rgba(247, 224, 16, 0.1);
  display: inline-block;
  width: 100%
}

.detailImage{
  width: 100%;
}

.centerDetails{
  position: relative;
  top: 0px;
  text-align: center;
  margin-top: 5px;
}
 

#innerList{
  position: relative;
  top: 0px;
  padding: 0px;
  margin-left: 30%;
}

.lowerText{
  position: relative;
  margin-top: 4px;
  padding: 2px;
  background-color:  rgb(16, 16, 85);
  color: white;
  z-index: 2;
}

#upperBar{
  margin-top: 0;
  padding: 0;
  height: 3px;
  width: 100%;
}

#mapSection{
  bottom: 0px;
  height: 200px;
}

#mapSection{
  width: 100%;
  height: 250px;
}


/* middle sized screens */
@media only screen and ( min-width: 760px ) {
  .details{
    width: 33%;
  }

  #upperBar{
    margin-top: 0;
    height: 3px;
    width: 100%;
  }

  #smallMiddleAmpDetails{
    display: inline-block;
    position: absolute;
    top: 15%;  /* WTF*/
  }

  #middleAmpDetails{
    display: none;
  }

  #rightImage{
    position: absolute;
    left: 67%;
  }

  #innerList{
    padding: 5px;
    margin-left: 10%;
  }


  .centerDetails{
    position: relative;
    top: -20px;
    text-align: center;
    margin-top: 5px;
  }


}

/* large screens */
@media only screen and ( min-width: 1060px ) {
  #smallMiddleAmpDetails{
    display: none;
  }
  #middleAmpDetails{
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 34%;
  } 

  #innerList{
    position: relative;
    top: -20px;
    padding: 0px;
    margin-left: 25%;
  }

  #mapSection{
    height: 500px;
  }

}